{% load static %}

<ul class="list-unstyled">
    {% for review in reviews %}
    <li class="media my-4">
        {% if review.user.profile.is_private %}
        <img src="{% static 'img/profile-blank.png' %}" alt="#" class="align-self-start mr-3" width="64"/>
        {% else %}
        <img src="{{ user.profile.image_url }}" alt="#" class="align-self-start mr-3" width="64"/>
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0">
                {% with ''|center:review.rating as range %}
                {% for _ in range %}
                <span>&#9733;</span>
                {% endfor %}
                {% endwith %}
            </h5>
            <h5 class="mt-0">{{ review.title }}</h5>
            <p>
                {% if review.user.profile.is_private %}
                anonymous,
                {% else %}
                {{ review.user.username }},
                {% endif %}
                <small class="text-muted">{{ review.created_at|date:"F j, Y" }}</small>
            </p>
            {% if review.body %}
            {{ review.body|linebreaks }}
            {% endif %}
        </div>
    </li>

    <hr>
    {% endfor %}
</ul>