{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        {% with images=product.images.all %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in images %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.url }}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                    data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                    data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
        {% endwith %}
    </div>
    <div class="col-lg-6">
        <h1>{{ product.name }}</h1>
        <h3>${{ product.price }}</h3>

        <div>{{ product.description }}</div>

        <form action="{% url 'cart-add' product_id=product.pk %}" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
        </form>
    </div>
</div>

<hr class="mt-4">

{% with reviews=product.reviews.all %}
<div>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Product Reviews <small class="text-muted">{{ reviews.count }}</small></h3>

        <a href="{% url 'review-create' product.pk %}" class="btn btn-primary">Write a Review</a>
    </div>

    {% if reviews %}
    {% include "partials/review_list.html" %}
    {% endif %}
</div>
{% endwith %}

{% include 'partials/footer.html' %}
{% endblock %}
